<footer class="cnt_footer ">
  <div class="container-fluid">
    <div class="row"></div>
  </div>
  <div class="container">
    <div class="row py-5">
      <div class="col-12">
        <h3>Ministerio de Agricultura y Desarrollo Rural</h3>
      </div>
    </div>
  </div>
  <!-- info -->
  <div class="container">
    <div class="row g-0">
      <div class="col-xl-6 pb-4">
        <div class="container">
          <div class="row pb-3">
            <div class="col"><h4>Sede principal</h4></div>
          </div>
          <div class="row me-4">
            <div class="col-sm-6 pe-1 pb-3">
              <b>Dirección:</b><br>
              Edificio Pedro A. López.<br>
              Avenida Jimenez N°. 7A - 17 Bogotá,<br>
              Bogotá D.C.<br>
              <b>Código Postal:</b><br>
              111711147<br>
              <b>Horario de Atención:</b><br>
              Lunes a Viernes de 8:00 am. a 5:00 pm.<br>
              Jornada continua<br>
              <b>Teléfono Conmutador:</b><br>
              (+57) 601 254 33 00
            </div>
            <div class="col-sm-6 pe-1">
              <b>Línea Gratuita:</b><br>
              01-8000-510050<br>
              <b>Línea anticorrupción:</b><br>
              01-8000-510050<br>
              <b>Correo Institucional:</b><br>
              <a href="mailto:atencionalciudadano@minagricultura.gov.co">atencionalciudadano@minagricultura.gov.co</a><br>
              <b>Correo de notificaciones judiciales:</b><br>
              <a href="mailto:notificacionesjudiciales@minagricultura.gov.co">notificacionesjudiciales@minagricultura.gov.co</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="container">
          <div class="row pb-3">
            <div class="col"><h4>Correspondencia y Atención al Ciudadano</h4></div>
          </div>
          <div class="row">
            <div class="col-sm-6 pe-1 pb-3">
              <b>Dirección:</b><br>
              Edificio Bancol.<br>
              Carrera 8 N° 12B - 31 Piso 5 Bogotá,<br>
              Bogotá D.C.<br>
              <b>Código Postal</b><br>
              111711153<br>
              <b>Horario de Radicación Correspondencia:</b><br>
              Lunes a Viernes de 8:00 am. a 4:00 pm.<br>
              jornada continua.
            </div>
            <div class="col-sm-6 info_footer">
              <a href="#">Política de seguridad de la información.</a><br>
              <a href="#">Contacto</a><br>
              <a href="#">Mapa del sitio</a><br>
              <a href="#">Política de Tratamiento de Datos Personales.</a><br>
              <a href="#">Términos y condiciones de uso.</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- social -->
  <div class="container-fluid">
    <div class="row py-4 g-0">
      <div class="col-sm-6"></div>
      <div class="col-sm-6">
        <a class="icon_social" href="https://www.gov.co/home/" target="_blank" aria-label="Twitter">
          <f:image src="EXT:madrtemplate/Resources/Public/Icons/icon_tw.svg" alt="Twitter"/>
          <span>@Twitter</span>
        </a>
        <a class="icon_social" href="https://www.gov.co/home/" target="_blank" aria-label="Instagram">
          <f:image src="EXT:madrtemplate/Resources/Public/Icons/icon_ig.svg" alt="Instagram"/>
          <span>@Instagram</span>
        </a>
        <a class="icon_social" href="https://www.gov.co/home/" target="_blank" aria-label="Facebook">
          <f:image src="EXT:madrtemplate/Resources/Public/Icons/icon_fb.svg" alt="Facebook"/>
          <span>@Facebook</span>
        </a>
      </div>
    </div>
  </div>
  <!-- Franja gov -->
  <div class="container-fluid">
  	<nav class="navbar navbar-expand-lg row" aria-label="Barra inferior">
      <div class="col d-flex justify-content-between">
        <a class="img_logo_gov" href="https://www.gov.co/home/" target="_blank" aria-label="Portal del Estado Colombiano - GOV.CO">
          <f:image src="EXT:madrtemplate/Resources/Public/images/logo_gov.svg" alt="Logo Portal del Estado Colombiano"/>
        </a>
        <a class="lnk_gov" href="#">Conoce a <span>Gov.co aquí</span></a>
      </div>
  	</nav>
  </div>
</footer>
