<!-- Transparencia -->
<div class="container-fluid cnt-participa">
	<div class="row">
		<f:if condition="{madr_transparencia}">
			<a href="{madr_transparencia}" class="cnt_item_participa">
				<div class="icon_participa">
					<f:image src="EXT:madrtemplate/Resources/Public/images/icon_transparencia.png" alt="Transparencia"/>
				</div>
				<div class="lbl_participa">Transparencia</div>
			</a>
		</f:if>
		<f:if condition="{madr_atencion}">
			<a href="{madr_atencion}" class="cnt_item_participa">
				<div class="icon_participa">
					<f:image src="EXT:madrtemplate/Resources/Public/images/icon_ayuda.png" alt="Atención al ciudadano"/>
				</div>
				<div class="lbl_participa">Atención al ciudadano</div>
			</a>
		</f:if>
		<f:if condition="{madr_participa}">
			<a href="{madr_participa}" class="cnt_item_participa">
				<div class="icon_participa">
					<f:image src="EXT:madrtemplate/Resources/Public/images/icon_participa.png" alt="Participa"/>
				</div>
				<div class="lbl_participa">Participa</div>
			</a>
		</f:if>
	</div>
</div>

<footer class="cnt_footer ">
	<div class="container-fluid">
		<div class="row"></div>
	</div>
	<div class="container-fluid">
		<div class="row py-5">
			<div class="col-xl-2"></div>
      	<div class="col-xl-10 pl-40 pr-40 txt_footer_title">
        		<h3>Ministerio de Agricultura y Desarrollo Rural</h3>
      	</div>
    	</div>
  	</div>
  	<!-- info -->
	<div class="container-fluid">
		<div class="row g-0">
			<div class="col-xl-2 pb-4 cnt_logo_gov_footer">
				<a class="img_logo_gov" href="https://www.gov.co/home/" target="_blank" aria-label="Portal del Estado Colombiano - GOV.CO">
					<f:image src="EXT:madrtemplate/Resources/Public/images/logo_gov.svg" alt="Logo Portal del Estado Colombiano" class="img_logogov_footer pb-4"/>
					<f:image src="EXT:madrtemplate/Resources/Public/images/marca_colombia.png" alt="Logo Marca País Colombia" class="img_logomarcapais_footer"/>
				</a>
			</div>
			<div class="col-xl-5 pb-4 cnt_col_footer">
				<div class="container">
          		<div class="row pb-3">
            		<div class="col"><h4>Sede principal</h4></div>
          		</div>
          		<div class="row me-4">
	            	<div class="col-sm-6 pe-1 pb-3">
							<b>Dirección:</b><br>
							Edificio Pedro A. López. Avenida Jimenez N°. 7A - 17 Bogotá,<br>
							Bogotá D.C.<br>
							Código Postal: 111711147<br><br>

							Teléfono Conmutador: (+57) 601 254 33 00<br>
							Línea Gratuita: 01-8000-510050<br>
							Línea anticorrupción: 01-8000-510050
						</div>
						<div class="col-sm-6 pe-1">
							<b>Horario de Atención:</b><br>
							Lunes a Viernes de 8:00 am. a 5:00 pm.<br>
							Jornada continua<br><br>

							Correo Institucional:<br>
							<a href="mailto:atencionalciudadano@minagricultura.gov.co">atencionalciudadano@minagricultura.gov.co</a><br>
							Correo de notificaciones judiciales:<br>
							<a href="mailto:notificacionesjudiciales@minagricultura.gov.co">notificacionesjudiciales@minagricultura.gov.co</a>
						</div>
          		</div>
        		</div>
      	</div>
	      <div class="col-xl-5 cnt_col_footer">
	        	<div class="container">
	          	<div class="row pb-3">
	            	<div class="col"><h4>Correspondencia y Atención al Ciudadano</h4></div>
	          	</div>
	          	<div class="row pb-3">
	            	<div class="col-sm-6 pe-1 pb-3">
							<b>Dirección:</b> Edificio Bancol.<br>
							Carrera 8 N° 12B - 31 Piso 5 Bogotá,<br>
							Bogotá D.C.<br>
							Código Postal - 111711153<br>
	            	</div>
	            	<div class="col-sm-6">
							<b>Horario de Radicación Correspondencia:</b> Lunes a Viernes de 8:00 am. a 4:00 pm. Jornada continua.
	            	</div>
	          	</div>
					<!-- social -->
					<div class="row">
	            	<div class="col-sm-6 pe-1 cnt_footer_social">
							<a class="icon_social pb-2" href="https://www.instagram.com/minagriculturacol/" target="_blank" aria-label="Instagram">
								<f:image src="EXT:madrtemplate/Resources/Public/Icons/icon_ig.svg" alt="Instagram"/>
								<span>@Minagriculturacol</span>
							</a>
							<a class="icon_social pb-2" href="https://www.facebook.com/minagriculturacol" target="_blank" aria-label="Facebook">
								<f:image src="EXT:madrtemplate/Resources/Public/Icons/icon_fb.svg" alt="Facebook"/>
								<span>@Minagriculturacol</span>
							</a>
	            	</div>
	            	<div class="col-sm-6 cnt_footer_social" >
							<a class="icon_social pb-2" href="https://twitter.com/minagricultura" target="_blank" aria-label="Twitter">
								<f:image src="EXT:madrtemplate/Resources/Public/Icons/icon_tw.svg" alt="Twitter"/>
								<span>@MinAgricultura</span>
							</a>
							<a class="icon_social" href="https://www.youtube.com/agriculturaaldiamadr" target="_blank" aria-label="YouTube">
								<f:image src="EXT:madrtemplate/Resources/Public/Icons/icon_yt.svg" alt="YouTube"/>
								<span>@AgriculturaaldiaMADR</span>
							</a>
	            	</div>
	          	</div>
	        	</div>
	      </div>
   	</div>
	</div>
  	<!-- Franja gov -->
  	<div class="container-fluid">
	  	<nav class="navbar navbar-expand-lg row" aria-label="Barra inferior">
	      <div class="col d-flex justify-content-end cnt_footer_extra">
				<a href="#" class="ps-3">Política de seguridad de la información</a>
				<a href="#" class="ps-3">Política de Tratamiento de Datos Personales</a>
				<a href="#" class="ps-3">Términos y condiciones de uso</a>
				<a href="#" class="ps-3">Contacto</a>
				<a href="#" class="ps-3">Mapa del sitio</a>
	      </div>
	  	</nav>
  	</div>
</footer>
