/**/
/* Fuente iconografica */
@font-face {
  font-family: "govco-font";
  src: url("../fonts/govco-fontv2.eot") format("truetype"), url("../fonts/govco-fontv2.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*General*/
a {
  text-decoration: none;
}

body {
  font-size: 13px;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

/*Header*/
.cnt_footer,
.cnt_header {
  background-color: #3366CC;
}

.img_logo_gov img {
  height: 1.5rem;
  width: 6.8rem;
}

.cnt_header a {
  align-items: center;
  display: flex;
  height: 100%;
}

.cnt_header span {
  font-weight: bold;
}

/*Footer*/
.cnt_footer {
  color: #ffffff;
}

.cnt_footer .navbar {
  justify-content: space-between !important;
}

.info_footer a {
  border-bottom: 1px solid;
  padding-bottom: 2px;
}

.cnt_footer a {
  color: #ffffff;
}

.barra-superior-govco a {
  content: url(https://cdn.www.gov.co/assets/images/logo.svg);
  height: 1.875rem;
  width: 8.5rem;
}

.lnk_gov {
  font-weight: 200;
}

.lnk_gov span {
  font-weight: 700;
}

.icon_social {
  padding-right: 25px;
}

.icon_social img {
  height: 30px;
  width: 30px;
}

.icon_social span {
  font-size: 10pt;
  padding-left: 5px;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .icon_social {
    display: flex;
    padding-bottom: 10px;
    width: 100%;
  }
}

/*Menu*/
/* ============ desktop view ============ */
@media all and (min-width: 992px) {
  .dropdown-menu li {
    position: relative;
  }
  .nav-item .submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
  }
  .nav-item .submenu-left {
    right: 100%;
    left: auto;
  }
  .dropdown-menu > li:hover {
    background-color: #f1f1f1;
  }
  .dropdown-menu > li:hover > .submenu {
    display: block;
  }
}

/* ============ desktop view .end// ============ */
/* ============ small devices ============ */
@media (max-width: 991px) {
  .dropdown-menu .dropdown-menu {
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    margin-bottom: .5rem;
  }
}

/* ============ small devices .end// ============ */
